<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>ApkVault</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="center">

<div class="card">
  <h1 class="logo">ApkVault</h1>
  <p>اختر لغة الموقع</p>

  <button onclick="chooseLang('ar')">العربية</button>
  <button onclick="chooseLang('en')">English</button>
</div>

<script src="js/main.js"></script>
</body>
</html>
